body{
    margin: 3rem 9rem ;
    background-color: #F5F8FF;
}
.navbar {
    display: flex;
    justify-content: space-between;
   align-items: center;
   font-family:'Inter', sans-serif;
   font-size: 20px;

}
.nav-menu-container {
    display: flex;
    justify-content: space-between;
    gap: 2.8rem;
}
.nav-menu {
    display: flex;
    gap: 2.8rem;
   
}
.nav-menu a {
    text-decoration: none;
    color: #000;
}

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
    margin-top: 100px;
  gap: 40px;
}


.banner-text h1 {
  font-size: 4rem;
  font-weight: 800;
  font-family: 'Inter', serif;
}

.banner-text .highlight {
  color: #f15c22;
}

.banner-text p {
  font-size: 1.3rem;
    font-family: 'Inter', sans-serif;
  color: rgb(0, 0, 0,50%);
}



.banner-image img {
  width: 570px;
  height: 355px;
}


.product { 
  text-align: center;
  margin-top: 150px;
  font-family: 'Inter', sans-serif;
 
}

.product h2 {
  font-size: 3rem;
  font-weight: 800;
  font-family: 'Inter', sans-serif;
 
  
}

.product .highlight {
  color: #f15c22;
}

.product .subtitle {
  max-width: 600px;
  margin: 0 auto 40px;
  color: rgb(0, 0, 0, 50%);
  font-size: 1rem;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}




.product-card img {
  width: 100%;
  
}

.product-card h3 {
  font-size: 1rem;
  font-weight: 600;
  margin-top: 12px;
}

.product-card .price {
  font-weight:800;
  font-size: 1.2rem;
  margin: 5px 0 15px;
}

.add-cart {
  background-color: #f15c22;
  color: #fff;
  border: none;
  padding: 10px 0;
  width: 100%;
  font-size: 0.9rem;
  font-weight: 500;
  font-size: 16px;
 
}


@media (max-width: 768px) {
    body {
        margin: 20px;
    }
    .navbar {
        display: flex;
     justify-content: space-between;
        align-items: center;
        
    }
  .nav-menu {
    display: none;
  }
.banner {
    flex-direction: column;
    text-align: left;
    gap: 10px;

   
  }

  .banner-image {
    order: -1;
  }

  .banner-text h1 {
    font-size: 2rem;
  }
.banner-image img {
  width: 430px;
  height: 245px;
}
  .banner-text p {
    font-size: 0.9rem;

  }
  .banner-text{
    margin: 0px 0.6rem;
  }

.product {
    margin-top: 20px;
  }

  .product-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  
  .product h2 {
    font-size: 1.5rem;
  }
}



