body{
    margin: 3rem 9rem ;
    background-color: #F5F8FF;
}
.navbar {
    display: flex;
    justify-content: space-between;
   align-items: center;
   font-family:'Inter', sans-serif;
   font-size: 20px;

}
.nav-menu-container {
    display: flex;
    justify-content: space-between;
    gap: 2.8rem;
}
.nav-menu {
    display: flex;
    gap: 2.8rem;
   
}
.nav-menu a {
    text-decoration: none;
    color: #000;
}

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
    margin-top: 100px;
  gap: 40px;
}


.banner-text h1 {
  font-size: 4rem;
  font-weight: 800;
  font-family: 'Inter', serif;
}

.banner-text .highlight {
  color: #f15c22;
}

.banner-text p {
  font-size: 1.3rem;
    font-family: 'Inter', sans-serif;
  color: rgb(0, 0, 0,50%);
}



.banner-image img {
  width: 570px;
  height: 355px;
}


.product { 
  text-align: center;
  margin-top: 150px;
  font-family: 'Inter', sans-serif;
 
}

.product h2 {
  font-size: 3rem;
  font-weight: 800;
  font-family: 'Inter', sans-serif;
 
  
}

.product .highlight {
  color: #f15c22;
}

.product .subtitle {
  max-width: 600px;
  margin: 0 auto 40px;
  color: rgb(0, 0, 0, 50%);
  font-size: 1rem;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}




.product-card img {
  width: 100%;
  
}

.product-card h3 {
  font-size: 1rem;
  font-weight: 600;
  margin-top: 12px;
}

.product-card .price {
  font-weight:800;
  font-size: 1.2rem;
  margin: 5px 0 15px;
}

.add-cart {
  background-color: #f15c22;
  color: #fff;
  border: none;
  padding: 10px 0;
  width: 100%;
  font-size: 0.9rem;
  font-weight: 500;
  font-size: 16px;
 
}

.plant-lover{
  width: 100%;
  margin-top: 200px;
  font-family: 'Inter', sans-serif;
}

.plant-lover-container{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  
}
.plant-lover-img{
  position: relative;
  flex: 1;
}

.badge {
  position: absolute;
  top: -11.25rem;
  left: 70%;
  transform: translateX(-50%);
  width: 25rem;
}

.plant-lover-text {
  max-width: 50rem;
}

.plant-lover-text h3 {
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 20px;
}

.plant-lover-text ul {
  list-style-type: disc;
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.5rem;
}

.plant-lover-text li {
  margin-bottom: 15px;
  line-height: 1.8;
}

.spin {
  animation: spinBadge 3s linear infinite;
}

@keyframes spinBadge {
  from {
    transform: translateX(-50%) rotate(0deg);
  }
  to {
    transform: translateX(-50%) rotate(360deg);
  }
}


.deals-section {
  margin-top: 150px;
  font-family: 'Inter', sans-serif;
  text-align: center;
}

.deals-header h2 {
  font-size: 3rem;
  font-weight: 800;
}

.deals-header .highlight {
  color: #f15c22;
}

.deals-header p {
  max-width: 600px;
  margin: 10px auto 40px;
  color: #555;
}

.deals-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.deal-box {
  background-size: cover;
  background-position: center;
  border-radius: 12px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.deal-box.large {
  grid-row: span 2;
  
}

.deal-box.small {
  min-height: 150px;
}
.deal-box.small h3, .deal-box.small a {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 10px;
  font-family: 'Times New Roman', Times, serif
}

.deal-box.large h3, .deal-box.large a {
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 10px;
  font-family: 'Times New Roman', Times, serif;
}
.deal-info {
  text-shadow: 0 2px 5px rgba(0,0,0,0.9);
  text-align: left;
}

.deal-info h3 {
  font-size: 1.3rem;
  margin-bottom: 10px;
}

.deal-info a {
  color: white;
  font-weight: bold;
  text-decoration: underline;
  font-size: 0.9rem;
}


.join-section {
  background-image: url('assets/news-letter-bg.png');
  width: 100vw;
  background-size: cover;
  background-position: center;
  text-align: center;
  color: white;
  position: relative;
  margin-top: 150px;
  margin-bottom: 80px;
  padding: 200px 0;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.join-container h2 {
  font-size: 3rem;
  margin-bottom: 20px;
  font-family: 'Inter', sans-serif;
  font-weight: 800;
}

.join-form {
  display: flex;
  justify-content: center;
  
}

.join-form input {
 
  width: 50%;
  border: none;
  padding: 12px;
}

.join-form button {
  padding: 12px 20px;
  background-color: #f15c22;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: 600;
}


.footer {
 margin-top: 150px;
  font-family: 'Inter', sans-serif;
}

.footer-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 100px;
}

.footer-logo {
  height: 100px;
  margin-bottom: 10px;
}

.footer-a p {
  color: rgb(0, 0, 0,50%);
  max-width: 300px;
  font-size: 0.95rem;
}

.footer-links {
  display: flex;
  gap: 40px;
  flex: 2;
  min-width: 250px;
}

.footer-links ul {
  list-style: none;
}

.footer-links li {
  margin-bottom: 12px;
}

.footer-links a {
  color: rgb(0, 0, 0,50%);
  text-decoration: none;
  font-size: 0.95rem;
}

.footer-social {
  display: flex;
  align-items: start;
  gap: 15px;
  font-size: 1.4rem;
  flex-wrap: wrap;
}


.footer-social img {
  width: 30px;
  height: 30px;
  
}


@media (max-width: 576px) {
    body {
        margin: 20px;
    }
    .navbar {
        display: flex;
     justify-content: space-between;
        align-items: center;
        
    }
  .nav-menu {
    display: none;
  }
.banner {
    flex-direction: column;
    text-align: left;
    gap: 10px;

   
  }

  .banner-image {
    order: -1;
  }

  .banner-text h1 {
    font-size: 2rem;
  }
.banner-image img {
  width: 430px;
  height: 245px;
}
  .banner-text p {
    font-size: 0.9rem;

  }
  .banner-text{
    margin: 0px 0.6rem;
  }

.product {
    margin-top: 20px;
  }

  .product-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  
  .product h2 {
    font-size: 1.5rem;
  }


   .plant-lover-container {
    flex-direction: column;
  
  }



  .badge {
    display: none; /* Hide trusted badge */
  }

  .plant-lover-text h3 {

    font-size: 2rem;
  }

  .plant-lover-text ul {
    font-size: 0.95rem;
  }

  .deals-section {
    margin-top: 20px;
  }
   .deals-grid {
    grid-template-columns: 1fr;
  }
  .deal-box.large {
    grid-column: span 1;
  }


.deal-box.large h3, .deal-box.large a {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 10px;
  font-family: 'Times New Roman', Times, serif;
}

.deal-box.large {
  min-height: 150px;
}

.join-section {
  width: 100vw;
  background-size: cover;
  background-position: center;
  text-align: center;
  color: white;
  position: relative;
  padding: 80px 0;
  margin-top: 50px;
  
}
.join-container h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  font-family: 'Inter', sans-serif;
  font-weight: 800;
}

.join-form {
  display: flex;
  justify-content: center;
  
}

.join-form input {
 
  width: 50%;
  border: none;
  padding: 12px;
}

.join-form button {
  padding: 12px 20px;
  background-color: #f15c22;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: 600;
}

    .footer-container {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding: 5px;
  }

  .footer-links {
    flex-direction: column;
    gap: 0;
    margin-top: 0px;
     margin-bottom: 10px;
     padding: 5px;
  }

  .footer-links ul {
    padding: 5px;
    margin: 0;
  }

  .footer-links li {
    margin-bottom: 8px;
  }

  .footer-social {
    justify-content: flex-start;
    margin-top: 10px;
    padding: 5px;
  }
.footer-a p {
    padding: 5px;
    color: rgb(0, 0, 0,50%);
  }

  .footer-logo {
   padding: 5px;
  }
  

  
}
